.book-form {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.spinner {
    animation: spinner 1s infinite linear;
    margin-left: 10px;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.book-form__buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 45px;
    margin-top: 10px;

    @media (max-width: 1175px) {
        justify-content: center;
    }
}
