.book-list {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 35px;

    li:nth-child(odd) {
        background: #485563;
    }
}

.book-list__info {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: start;
    &:hover {
        background: #adc4ce;
    }
}

.book-list__list-item {
    position: relative;
}

.book-list__delete-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px 10px;
    height: 30px;
    background-color: #eb455f;
    border-radius: 5px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}
