.book-list {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 35px;

    li:nth-child(odd) {
        background: #485563;
    }
}

.book-list .highlight {
    background: #47597E;
}

.book-list__info {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: start;
    &:hover {
        background: #adc4ce;
    }
}

.book-list__list-item {
    position: relative;
}

.book-list__actions {
    position: relative;
}

.book-list__delete-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px 10px;
    height: 30px;
    background: #fff;
    color: #eb455f;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background: #eb455f;
        color: #fff;
    }
}

.star-icon {
    position: absolute;
    top: 8px;
    right: 100px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: #fec260;

    &:hover {
        color: lighten(#fec260, 15%);
    }
}
